body{
	background-color: lightgreen;
}


h1 {
	font-family: Helvetica;
	font-style: italic;
	text-decoration: underline;;
	text-align: center;
	color:green;
}


h2{
	font-family: Helvetica;
	text-decoration: underline;
	font-style: italic;
	color: red;

}

p{
	font-family: Arial;
	font-style: oblique;
}

footer{
	font-family: Arial;
	font-style: italic;
	text-align: center;
	background-color: lightgreen;
	color: green;
}





tr,td {
	border: 1px solid black;
}